* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    width: 100%;
    border: none;
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
}

#cityData {
    border: 1px black solid;
}